tab30issn.*=../../../scibiblio/bases/estat/tab30/tc30issn.*

tc30clean.*=../../../scibiblio/bases/estat/tab30/clean/tc30clean_CGI.*

tc30scielo.*=../../../scibiblio/bases/estat/tab30/clean/tc30scielo.*

tab30isi.*=../../../scibiblio/bases/estat/tab30/tc30isi.*

title.*=../../../scibiblio/bases/estat/title/tit.org.*

3166.*=../../../scibiblio/bases/estat/co-autor/3166.*

v677.*=../../../scibiblio/bases/estat/co-autor/v677.*
v677.org.*=../../../scibiblio/bases/estat/co-autor/v677.org.*

v677.temat.*=../../../scibiblio/bases/estat/co-autor/v677.temat.*

alltitsanos.*=titsanos.*

lst_traduc.*=lst_traduc.*

titlelilmdl.*=../../../scibiblio/bases/estat/title/titlelilmdl.*

fat_imp.*=../../../scibiblio/bases/estat/title/fat_imp.*

mstxl=4

arth.arg.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.arg.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.arg.*=../../../scibiblio/bases/estat/artigo/arg/arth.*

artc.arg.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.arg.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.arg.*=../../../scibiblio/bases/estat/artigo/arg/artc.*

arti.arg.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.arg.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.arg.*=../../../scibiblio/bases/estat/artigo/arg/arti.*

sci_jcr.arg.*=../../../scibiblio/bases/estat/artigo/arg/sci_jcr.*

artigo-cYY.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrIng_yrEd.*
artigo-cYYC.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrAll_yrEd.*
artigo-cCYY.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrIng_yrAll.*
artigo-cTY.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allIng_yrEd.*
artigo-cTYC.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allAll_yrEd.*
artigo-cCTY.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allIng_yrAll.*
artigo-cYT.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrIng_allEd.*
artigo-cYTC.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrAll_allEd.*
artigo-cCYT.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_yrIng_allAll.*
artigo-cTT.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allIng_allEd.*
artigo-cTTC.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allAll_allEd.*
artigo-cCTT.arg.*=../../../scibiblio/bases/estat/artigo/arg/cit_allIng_allAll.*

arth.chl.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.chl.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.chl.*=../../../scibiblio/bases/estat/artigo/chl/arth.*

artc.chl.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.chl.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.chl.*=../../../scibiblio/bases/estat/artigo/chl/artc.*

arti.chl.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.chl.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.chl.*=../../../scibiblio/bases/estat/artigo/chl/arti.*

sci_jcr.chl.*=../../../scibiblio/bases/estat/artigo/chl/sci_jcr.*

artigo-cYY.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrIng_yrEd.*
artigo-cYYC.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrAll_yrEd.*
artigo-cCYY.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrIng_yrAll.*
artigo-cTY.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allIng_yrEd.*
artigo-cTYC.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allAll_yrEd.*
artigo-cCTY.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allIng_yrAll.*
artigo-cYT.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrIng_allEd.*
artigo-cYTC.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrAll_allEd.*
artigo-cCYT.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_yrIng_allAll.*
artigo-cTT.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allIng_allEd.*
artigo-cTTC.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allAll_allEd.*
artigo-cCTT.chl.*=../../../scibiblio/bases/estat/artigo/chl/cit_allIng_allAll.*

arth.col.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.col.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.col.*=../../../scibiblio/bases/estat/artigo/col/arth.*

artc.col.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.col.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.col.*=../../../scibiblio/bases/estat/artigo/col/artc.*

arti.col.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.col.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.col.*=../../../scibiblio/bases/estat/artigo/col/arti.*

sci_jcr.col.*=../../../scibiblio/bases/estat/artigo/col/sci_jcr.*

artigo-cYY.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrIng_yrEd.*
artigo-cYYC.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrAll_yrEd.*
artigo-cCYY.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrIng_yrAll.*
artigo-cTY.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allIng_yrEd.*
artigo-cTYC.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allAll_yrEd.*
artigo-cCTY.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allIng_yrAll.*
artigo-cYT.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrIng_allEd.*
artigo-cYTC.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrAll_allEd.*
artigo-cCYT.col.*=../../../scibiblio/bases/estat/artigo/col/cit_yrIng_allAll.*
artigo-cTT.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allIng_allEd.*
artigo-cTTC.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allAll_allEd.*
artigo-cCTT.col.*=../../../scibiblio/bases/estat/artigo/col/cit_allIng_allAll.*

arth.cub.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.cub.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.cub.*=../../../scibiblio/bases/estat/artigo/cub/arth.*

artc.cub.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.cub.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.cub.*=../../../scibiblio/bases/estat/artigo/cub/artc.*

arti.cub.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.cub.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.cub.*=../../../scibiblio/bases/estat/artigo/cub/arti.*

sci_jcr.cub.*=../../../scibiblio/bases/estat/artigo/cub/sci_jcr.*

artigo-cYY.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrIng_yrEd.*
artigo-cYYC.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrAll_yrEd.*
artigo-cCYY.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrIng_yrAll.*
artigo-cTY.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allIng_yrEd.*
artigo-cTYC.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allAll_yrEd.*
artigo-cCTY.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allIng_yrAll.*
artigo-cYT.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrIng_allEd.*
artigo-cYTC.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrAll_allEd.*
artigo-cCYT.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_yrIng_allAll.*
artigo-cTT.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allIng_allEd.*
artigo-cTTC.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allAll_allEd.*
artigo-cCTT.cub.*=../../../scibiblio/bases/estat/artigo/cub/cit_allIng_allAll.*

arth.esp.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.esp.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.esp.*=../../../scibiblio/bases/estat/artigo/esp/arth.*

artc.esp.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.esp.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.esp.*=../../../scibiblio/bases/estat/artigo/esp/artc.*

arti.esp.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.esp.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.esp.*=../../../scibiblio/bases/estat/artigo/esp/arti.*

sci_jcr.esp.*=../../../scibiblio/bases/estat/artigo/esp/sci_jcr.*

artigo-cYY.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrIng_yrEd.*
artigo-cYYC.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrAll_yrEd.*
artigo-cCYY.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrIng_yrAll.*
artigo-cTY.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allIng_yrEd.*
artigo-cTYC.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allAll_yrEd.*
artigo-cCTY.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allIng_yrAll.*
artigo-cYT.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrIng_allEd.*
artigo-cYTC.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrAll_allEd.*
artigo-cCYT.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_yrIng_allAll.*
artigo-cTT.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allIng_allEd.*
artigo-cTTC.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allAll_allEd.*
artigo-cCTT.esp.*=../../../scibiblio/bases/estat/artigo/esp/cit_allIng_allAll.*

arth.mex.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.mex.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.mex.*=../../../scibiblio/bases/estat/artigo/mex/arth.*

artc.mex.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.mex.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.mex.*=../../../scibiblio/bases/estat/artigo/mex/artc.*

arti.mex.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.mex.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.mex.*=../../../scibiblio/bases/estat/artigo/mex/arti.*

sci_jcr.mex.*=../../../scibiblio/bases/estat/artigo/mex/sci_jcr.*

artigo-cYY.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrIng_yrEd.*
artigo-cYYC.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrAll_yrEd.*
artigo-cCYY.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrIng_yrAll.*
artigo-cTY.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allIng_yrEd.*
artigo-cTYC.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allAll_yrEd.*
artigo-cCTY.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allIng_yrAll.*
artigo-cYT.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrIng_allEd.*
artigo-cYTC.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrAll_allEd.*
artigo-cCYT.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_yrIng_allAll.*
artigo-cTT.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allIng_allEd.*
artigo-cTTC.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allAll_allEd.*
artigo-cCTT.mex.*=../../../scibiblio/bases/estat/artigo/mex/cit_allIng_allAll.*

arth.org.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.org.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.org.*=../../../scibiblio/bases/estat/artigo/org/arth.*

artc.org.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.org.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.org.*=../../../scibiblio/bases/estat/artigo/org/artc.*

arti.org.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.org.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.org.*=../../../scibiblio/bases/estat/artigo/org/arti.*

sci_jcr.org.*=../../../scibiblio/bases/estat/artigo/org/sci_jcr.*

artigo-cYY.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrIng_yrEd.*
artigo-cYYC.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrAll_yrEd.*
artigo-cCYY.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrIng_yrAll.*
artigo-cTY.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allIng_yrEd.*
artigo-cTYC.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allAll_yrEd.*
artigo-cCTY.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allIng_yrAll.*
artigo-cYT.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrIng_allEd.*
artigo-cYTC.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrAll_allEd.*
artigo-cCYT.org.*=../../../scibiblio/bases/estat/artigo/org/cit_yrIng_allAll.*
artigo-cTT.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allIng_allEd.*
artigo-cTTC.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allAll_allEd.*
artigo-cCTT.org.*=../../../scibiblio/bases/estat/artigo/org/cit_allIng_allAll.*

arth.prt.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.prt.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.prt.*=../../../scibiblio/bases/estat/artigo/prt/arth.*

artc.prt.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.prt.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.prt.*=../../../scibiblio/bases/estat/artigo/prt/artc.*

arti.prt.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.prt.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.prt.*=../../../scibiblio/bases/estat/artigo/prt/arti.*

sci_jcr.prt.*=../../../scibiblio/bases/estat/artigo/prt/sci_jcr.*

artigo-cYY.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrIng_yrEd.*
artigo-cYYC.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrAll_yrEd.*
artigo-cCYY.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrIng_yrAll.*
artigo-cTY.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allIng_yrEd.*
artigo-cTYC.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allAll_yrEd.*
artigo-cCTY.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allIng_yrAll.*
artigo-cYT.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrIng_allEd.*
artigo-cYTC.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrAll_allEd.*
artigo-cCYT.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_yrIng_allAll.*
artigo-cTT.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allIng_allEd.*
artigo-cTTC.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allAll_allEd.*
artigo-cCTT.prt.*=../../../scibiblio/bases/estat/artigo/prt/cit_allIng_allAll.*

arth.scl.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.scl.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.scl.*=../../../scibiblio/bases/estat/artigo/scl/arth.*

artc.scl.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.scl.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.scl.*=../../../scibiblio/bases/estat/artigo/scl/artc.*

arti.scl.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.scl.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.scl.*=../../../scibiblio/bases/estat/artigo/scl/arti.*

sci_jcr.scl.*=../../../scibiblio/bases/estat/artigo/scl/sci_jcr.*

artigo-cYY.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrIng_yrEd.*
artigo-cYYC.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrAll_yrEd.*
artigo-cCYY.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrIng_yrAll.*
artigo-cTY.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allIng_yrEd.*
artigo-cTYC.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allAll_yrEd.*
artigo-cCTY.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allIng_yrAll.*
artigo-cYT.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrIng_allEd.*
artigo-cYTC.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrAll_allEd.*
artigo-cCYT.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_yrIng_allAll.*
artigo-cTT.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allIng_allEd.*
artigo-cTTC.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allAll_allEd.*
artigo-cCTT.scl.*=../../../scibiblio/bases/estat/artigo/scl/cit_allIng_allAll.*

arth.spa.mst=../../../scibiblio/bases/estat/artigo/arth.temat.mst
arth.spa.xrf=../../../scibiblio/bases/estat/artigo/arth.temat.xrf
arth.spa.*=../../../scibiblio/bases/estat/artigo/spa/temath.*

artc.spa.mst=../../../scibiblio/bases/estat/artigo/artc.temat.mst
artc.spa.xrf=../../../scibiblio/bases/estat/artigo/artc.temat.xrf
artc.spa.*=../../../scibiblio/bases/estat/artigo/spa/tematc.*

arti.spa.mst=../../../scibiblio/bases/estat/artigo/arti.temat.mst
arti.spa.xrf=../../../scibiblio/bases/estat/artigo/arti.temat.xrf
arti.spa.*=../../../scibiblio/bases/estat/artigo/spa/temati.*

sci_jcr.spa.*=../../../scibiblio/bases/estat/artigo/spa/sci_jcr.*

artigo-cYY.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrIng_yrEd.*
artigo-cYYC.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrAll_yrEd.*
artigo-cCYY.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrIng_yrAll.*
artigo-cTY.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allIng_yrEd.*
artigo-cTYC.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allAll_yrEd.*
artigo-cCTY.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allIng_yrAll.*
artigo-cYT.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrIng_allEd.*
artigo-cYTC.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrAll_allEd.*
artigo-cCYT.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_yrIng_allAll.*
artigo-cTT.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allIng_allEd.*
artigo-cTTC.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allAll_allEd.*
artigo-cCTT.spa.*=../../../scibiblio/bases/estat/artigo/spa/cit_allIng_allAll.*

arth.sss.mst=../../../scibiblio/bases/estat/artigo/arth.temat.mst
arth.sss.xrf=../../../scibiblio/bases/estat/artigo/arth.temat.xrf
arth.sss.*=../../../scibiblio/bases/estat/artigo/sss/temath.*

artc.sss.mst=../../../scibiblio/bases/estat/artigo/artc.temat.mst
artc.sss.xrf=../../../scibiblio/bases/estat/artigo/artc.temat.xrf
artc.sss.*=../../../scibiblio/bases/estat/artigo/sss/tematc.*

arti.sss.mst=../../../scibiblio/bases/estat/artigo/arti.temat.mst
arti.sss.xrf=../../../scibiblio/bases/estat/artigo/arti.temat.xrf
arti.sss.*=../../../scibiblio/bases/estat/artigo/sss/temati.*

sci_jcr.sss.*=../../../scibiblio/bases/estat/artigo/sss/sci_jcr.*

artigo-cYY.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrIng_yrEd.*
artigo-cYYC.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrAll_yrEd.*
artigo-cCYY.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrIng_yrAll.*
artigo-cTY.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allIng_yrEd.*
artigo-cTYC.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allAll_yrEd.*
artigo-cCTY.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allIng_yrAll.*
artigo-cYT.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrIng_allEd.*
artigo-cYTC.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrAll_allEd.*
artigo-cCYT.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_yrIng_allAll.*
artigo-cTT.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allIng_allEd.*
artigo-cTTC.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allAll_allEd.*
artigo-cCTT.sss.*=../../../scibiblio/bases/estat/artigo/sss/cit_allIng_allAll.*

arth.ven.mst=../../../scibiblio/bases/estat/artigo/arth.org.mst
arth.ven.xrf=../../../scibiblio/bases/estat/artigo/arth.org.xrf
arth.ven.*=../../../scibiblio/bases/estat/artigo/ven/arth.*

artc.ven.mst=../../../scibiblio/bases/estat/artigo/artc.org.mst
artc.ven.xrf=../../../scibiblio/bases/estat/artigo/artc.org.xrf
artc.ven.*=../../../scibiblio/bases/estat/artigo/ven/artc.*

arti.ven.mst=../../../scibiblio/bases/estat/artigo/arti.org.mst
arti.ven.xrf=../../../scibiblio/bases/estat/artigo/arti.org.xrf
arti.ven.*=../../../scibiblio/bases/estat/artigo/ven/arti.*

sci_jcr.ven.*=../../../scibiblio/bases/estat/artigo/ven/sci_jcr.*

artigo-cYY.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrIng_yrEd.*
artigo-cYYC.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrAll_yrEd.*
artigo-cCYY.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrIng_yrAll.*
artigo-cTY.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allIng_yrEd.*
artigo-cTYC.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allAll_yrEd.*
artigo-cCTY.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allIng_yrAll.*
artigo-cYT.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrIng_allEd.*
artigo-cYTC.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrAll_allEd.*
artigo-cCYT.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_yrIng_allAll.*
artigo-cTT.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allIng_allEd.*
artigo-cTTC.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allAll_allEd.*
artigo-cCTT.ven.*=../../../scibiblio/bases/estat/artigo/ven/cit_allIng_allAll.*

